In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_regression
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('train.csv')
df.head()

,n,y,0,1,2,3,4,5,6,7,...,20,21,22,23,24,25,26,27,28,29
0,0,0,-1.812454,-2.657103,-0.991741,-2.134123,0.013295,-0.576664,-0.392111,5.053356,...,-2.320079,0.458803,1.175757,-0.087009,5.053356,-2.610565,1.046506,1.384546,-1.065639,-2.320079
1,1,0,-0.679290,-2.994324,-0.041299,-3.293330,1.026815,-0.676246,-0.616953,4.123581,...,-0.625571,-1.101847,-0.954539,-0.349875,4.123581,-0.418099,0.554336,-0.541181,-0.742856,-0.625571
2,2,0,-1.240024,-4.330616,-0.363800,-2.432813,-1.010857,0.855093,0.446649,6.258308,...,-2.312381,0.209514,0.971885,1.646623,6.258308,-1.210854,-1.739403,-0.875562,0.983517,-2.312381
3,3,1,5.863091,-5.186791,1.794214,-2.938467,-1.175420,-0.654109,0.027659,3.934380,...,-4.042295,-0.448140,1.049199,1.255474,3.934380,0.882886,0.780769,-1.084634,-1.221669,-4.042295
4,4,1,-2.782044,-0.109483,1.213863,1.924582,-0.762010,1.005821,-0.560177,-2.317472,...,1.037847,-1.274118,0.182505,0.257766,-2.317472,0.953368,-0.671924,1.550892,-0.277276,1.037847

In [3]:
columns=df.columns
columns=columns[30]
X=df[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', 
'16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']]

y=df[['y']]

In [4]:
from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler()
X = standardizer.fit_transform(X)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.25, random_state=0)

In [6]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [7]:
y_Hat = model.predict(X_test)

In [8]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_Hat)

TN, FP, FN, TP = confusion_matrix(y_test, y_Hat).ravel()

print('True Positive(TP)  = ', TP)
print('False Positive(FP) = ', FP)
print('True Negative(TN)  = ', TN)
print('False Negative(FN) = ', FN)

accuracy =  (TP+TN) /(TP+FP+TN+FN)

print('Accuracy of the binary classification = {:0.3f}'.format(accuracy))

True Positive(TP)  =  7820
False Positive(FP) =  2687
True Negative(TN)  =  8574
False Negative(FN) =  3419
Accuracy of the binary classification = 0.729

In [9]:
res = pd.DataFrame(y_test)
res['y_predicted'] = y_Hat

res.head()

       y  y_predicted
66710  1            1
73507  0            0
43477  0            1
74967  0            0
52417  1            1

In [10]:
df = pd.read_csv('test.csv')

In [11]:
X_new=df[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', 
'16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']]

In [12]:
y_new = model.predict(X_new)

In [13]:
res = pd.DataFrame(X_new)
res['y'] = y_new

res.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,y
0,-5.609318,3.547955,3.011337,3.378028,-0.697157,-0.503657,-0.762223,-3.140033,-0.368520,1.737708,...,-3.156183,-0.536789,2.310689,-3.140033,0.912278,0.375148,-0.322138,-1.123201,-1.813779,1
1,8.110979,2.381647,-0.007376,0.805074,0.426351,0.068408,0.012137,-1.829828,3.414538,-0.020357,...,4.117017,-0.877903,-2.483150,-1.829828,-1.271702,0.500213,0.706351,1.283952,0.880304,1
2,-3.607518,2.819185,-0.071951,3.166117,-0.879579,-0.171643,-0.962142,-5.148716,-3.388786,1.176037,...,3.900879,-1.551941,-3.255945,-5.148716,-0.652703,0.491345,-0.327620,0.922076,-0.475589,0
3,-8.493903,4.590777,-4.777534,-0.133769,-0.486999,-1.368093,-0.779922,-0.398098,2.413269,2.099373,...,0.146485,0.406246,-1.890442,-0.398098,-1.304679,0.412209,0.136665,-0.150937,-0.677394,0
4,-5.018819,-1.007202,-0.805000,-0.277825,-0.046064,0.124820,1.067043,1.937505,-0.697359,-0.828671,...,0.660465,-1.640375,-1.924099,1.937505,-0.617042,-0.712369,0.667085,-1.203750,-0.659335,0

In [14]:
res = res.drop("0", axis = 1)
res = res.drop("1", axis = 1)
res = res.drop("2", axis = 1)
res = res.drop("3", axis = 1)
res = res.drop("4", axis = 1)
res = res.drop("5", axis = 1)
res = res.drop("6", axis = 1)
res = res.drop("7", axis = 1)
res = res.drop("8", axis = 1)
res = res.drop("9", axis = 1)
res = res.drop("10", axis = 1)
res = res.drop("11", axis = 1)
res = res.drop("12", axis = 1)
res = res.drop("13", axis = 1)
res = res.drop("14", axis = 1)
res = res.drop("15", axis = 1)
res = res.drop("16", axis = 1)
res = res.drop("17", axis = 1)
res = res.drop("18", axis = 1)
res = res.drop("19", axis = 1)
res = res.drop("20", axis = 1)
res = res.drop("21", axis = 1)
res = res.drop("22", axis = 1)
res = res.drop("23", axis = 1)
res = res.drop("24", axis = 1)
res = res.drop("25", axis = 1)
res = res.drop("26", axis = 1)
res = res.drop("27", axis = 1)
res = res.drop("28", axis = 1)
res = res.drop("29", axis = 1)

In [15]:
res.to_csv('results.csv')